APP_NAME=poker
HUB_BASE_URL=https://sprintsuite.uk
HUB_API_KEY=replace-with-POKER-line-from-suite-app-keys.txt
COOKIE_DOMAIN=sprintpoker.uk
APP_BASE_URL=https://sprintpoker.uk
APP_SESSIONS_DB=./data/poker-sessions.db
PORT=3005
